<h2 mat-dialog-title>Suspendare utilizator</h2>

<app-loading *ngIf="isLoading" class="loading-container in-dialog"></app-loading>

<mat-dialog-content>
  <form [formGroup]="suspendForm" fxLayout="row grid" fxLayoutGap="10px grid">
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Până când</mat-label>
      <input matInput type="date" formControlName="until" name="until" [min]="minDate">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulați</button>
  <button mat-button (click)="suspendUser()" [disabled]="suspendForm.invalid">Suspendați</button>
</mat-dialog-actions>