:host {
  display: block;
  padding: 16px;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  box-sizing: border-box;

  .image-container {
    height: 80px;
    margin-bottom: 16px;
    text-align: center;

    img {
      height: 100%;
    }
  }
}

app-loading {
  margin-top: -16px;
  margin-left: -16px;
  display: block;
}

mat-form-field {
  display: block;
}

.align-center {
  display: flex;
  justify-content: center;
}