<app-loading *ngIf="userEmail == null" type="spinner"></app-loading>

<div class="container">
    <div class="login-container mat-elevation-z2">
        <app-loading *ngIf="loading"></app-loading>
        <div class="image-container">
            <img src="../../../assets/img/logo.png"/>
        </div>
        <h2>Change password</h2>
        <form [formGroup]="changePasswordForm">
            <input type="email" name="email" [value]="userEmail" style="display: none;" />
            <mat-form-field appearance="outline" *ngIf="mode == 'normal'">
                <mat-label>Current password</mat-label>
                <input matInput type="password" formControlName="currentPassword">
                <mat-error>Password must be at least 6 characters long.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher">
                <mat-error>Password must be at least 6 characters long.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                <mat-error *ngIf="changePasswordForm.errors?.passwordsNotMatched">Passwords don't match!</mat-error>
            </mat-form-field>
            <div class="align-center">
                <button mat-raised-button color="accent" [disabled]="changePasswordForm.invalid || loading" (click)="changePassword()">
                    Change password
                </button>
            </div>
        </form>
    </div>
</div>