:host {
  display: block;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  box-sizing: border-box;

  .image-container {
    height: 80px;
    margin-bottom: 16px;
    text-align: center;
    img {
      height: 100%;
    }
  }
}