<app-loading type="spinner" color="primary" *ngIf="loading"></app-loading>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <span>Deconectare</span>
  </button>
</mat-menu>

<div class="main-container" [hidden]="loading">
  <mat-toolbar *ngIf="!hideToolbar" class="app-toolbar">
    <button mat-icon-button matTooltip="Comutați meniul" *ngIf="!hideDrawer" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">{{ title }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-button class="user-preview-container" [matMenuTriggerFor]="userMenu">
      <span class="user-name" fxHide.lt-sm>{{user?.firstName}} {{user?.lastName}}</span>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer [mode]="drawerMode" class="main-drawer">
      <mat-list *ngIf="user?.role == 'admin'" class="nav-list">
        <div mat-subheader>Utilizatori</div>
        <a mat-list-item routerLink="admin/users" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>Utilizatori</div>
        </a>
        <div mat-subheader>Mașini</div>
        <a mat-list-item routerLink="admin/machines" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>local_laundry_service</mat-icon>
          <div mat-line>Mașini</div>
        </a>
        <div mat-subheader>Rezervări</div>
        <a mat-list-item routerLink="admin/reservations" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <div mat-line>Rezervări</div>
        </a>
        <a mat-list-item routerLink="admin/slots-lookup" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <div mat-line>Rezervare nouă</div>
        </a>
        <a mat-list-item routerLink="admin/machine-status" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>local_laundry_service</mat-icon>
          <div mat-line>Stare curentă mașini</div>
        </a>
      </mat-list>
      <mat-list *ngIf="user?.role == 'user'" class="nav-list">
        <div mat-subheader>Stare curentă</div>
        <a mat-list-item routerLink="user/machine-status" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>local_laundry_service</mat-icon>
          <div mat-line>Stare curentă mașini</div>
        </a>
        <div mat-subheader>Rezervări</div>
        <a mat-list-item routerLink="user/reservations" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <div mat-line>Rezervările mele</div>
        </a>
        <a mat-list-item routerLink="user/slots-lookup" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <div mat-line>Rezervare nouă</div>
        </a>
      </mat-list>
    </mat-drawer>
    <div class="main-content" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-container>
</div>