
<mat-card class="lookup-card">
  <mat-card-title>Găsiți un loc liber</mat-card-title>
  <form class="lookup-form" [formGroup]="lookupForm" fxLayout="row grid" fxLayoutGap="10px grid" (ngSubmit)="searchSlots()">
    <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="100">
      <mat-label>Tip</mat-label>
      <mat-select formControlName="machineKind">
        <mat-option *ngFor="let machineType of MACHINE_TYPES | keyvalue" [value]="machineType.key">
          {{ machineType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="100">
      <mat-label>Program</mat-label>
      <mat-select formControlName="programme">
        <mat-option *ngFor="let programme of filteredProgrammes" [value]="programme" [title]="programme.description || ''">
          <span>{{ programme.name }}</span>
          <span style="color: #757575;"> ({{ programme.duration }} min.)</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="row grid" fxLayoutGap="10px grid">
      <mat-form-field appearance="outline" fxFlex="65">
        <mat-label>Începând cu...</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="since" autocomplete="off">
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="35">
        <mat-label>Ora</mat-label>
        <mat-select formControlName="since" [compareWith]="dateEquals">
          <mat-option *ngFor="let timeStep of timeSteps" [value]="timeStep">
            {{ timeStep | date: 'HH:mm' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" class="search-button left-icon" type="submit" [disabled]="lookupForm.invalid || userIsSuspened || isLoading">
        <mat-icon>search</mat-icon>
        <span>Căutați</span>
      </button>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" *ngIf="userIsSuspened">
      Contul dvs. este suspendat până la {{ user.suspendedUntil | date: 'd MMM yyyy' }}.
    </div>
  </form>
  <mat-progress-bar class="loading-bar" color="accent" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</mat-card>

<div class="results" fxLayout="row grid" fxLayoutGap="10px grid">
  <div fxFlex="33" fxFlex.lt-lg="50" fxFlex.lt-sm="100" *ngFor="let availableSlot of narrowedAvailableSlots"> 
    <mat-card class="slot-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>local_laundry_service</mat-icon>
        </div>
        <mat-card-title>{{ availableSlot.instance.name }}</mat-card-title>
        <mat-card-subtitle>{{ MACHINE_TYPES[availableSlot.instance.machine.kind] }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="available-slots-title">Sloturi disponibile</div>
        <div fxLayout="row grid" fxLayoutGap="4px grid">
          <div *ngFor="let slot of availableSlot.slots" fxFlex="33" fxFlex.lt-lg="50">
            <button mat-stroked-button class="slot" (click)="selectSlot(availableSlot.instance, slot)">
              {{ slot | date: 'd MMM, HH:mm' }}
            </button>
          </div>
          <div *ngIf="availableSlot.slots.length != availableSlot.allSlots.length" fxFlex="33" fxFlex.lt-lg="50">
            <button mat-stroked-button (click)="expandSlots(availableSlot)" class="slot">
              + încă {{ availableSlot.allSlots.length - availableSlot.slots.length }}
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
